    <meta property="og:title" content="{{ if .Params.ogtitle }}{{ .Params.ogtitle }}{{ else }}{{ .Title }}{{ end }}" />
    <meta property="og:description" content="{{ if .Params.ogdescription }}{{ .Params.ogdescription }}{{ else if .Site.Params.Description }}{{ .Site.Params.Description }}{{ else}}{{ .Summary }}{{ end }}" />
    <meta property="og:type" content="{{ if .IsPage }}article{{ else }}website{{ end }}">
    <meta property="og:locale" content="en_US" />
    <meta property="og:url" content="{{ .Permalink }}" />
    {{ if .Params.featuredImage }}
    <meta property="og:image" content="{{ .Params.featuredImage | absURL }}" />
    {{ end }}

    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:domain" value="{{ with .Permalink | absURL | urls.Parse }}{{ index (split .Host ":") 0 }}{{ end }}" />
    <meta name="twitter:title" value="{{ if .Params.ogtitle }}{{ .Params.ogtitle }}{{ else }}{{ .Title }}{{ end }}" />
    <meta name="twitter:description" value="{{ if .Params.ogdescription }}{{ .Params.ogdescription }}{{ else if .Site.Params.Description }}{{ .Site.Params.Description }}{{ else}}{{ .Summary }}{{ end }}" />
    {{ if .Params.featuredImage }}
    <meta name="twitter:image" content="{{ .Params.featuredImage | absURL }}" />
    {{ end }}
    <meta name="twitter:url" value="{{ .Permalink }}" />
